<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <title>Execute Script</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7906566890403893"
     crossorigin="anonymous"></script>
</head>
<body><h1>Bitcoin price prediction</h1>

    <h3>Made with the formula created by Leo Heart, based on a model that analyzed Bitcoin price for more than 10 years Check <a href="https://www.linkedin.com/pulse/mathematical-formula-bitcoin-price-leo-heart/">here</a></a></h3>
    Date 
    Day<input id="day"></input>
    Month<input id="month"></input>
    Year<input id="year"></input>
    
    <button id="execute-script">Execute Script</button>
    <div id="result"></div>

    <script>
        let csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        document.getElementById('execute-script').addEventListener('click', function () {
            const day = document.getElementById('day').value;
            const month = document.getElementById('month').value;
            const year = document.getElementById('year').value;
            
            
           fetch('/run_script/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrfToken
        },
        body: JSON.stringify({
            day: day,
            month: month,
            year: year,
            
        })
    })
    .then(response => response.text())
    .then(data => {
        document.getElementById('result').innerText = data;
    });
});
    </script>
    
<!-- add -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7906566890403893"
     crossorigin="anonymous"></script>
<!-- add -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-7906566890403893"
     data-ad-slot="7436436650"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</body>
</html>